<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Pedir Taxi Express</h1>
                <hr>
            </div>
        </div>
        
        <br/>
        <br/>
        <br/>
        <br/>
        
        <div class="row">
            <div class="col-md-7">
                <%= form_for @order, url: order_create_path(@order) do |f| %>
                    <div class="row">
                
                        <div class="row form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <%= f.text_field :address_origin,  :class => 'form-control', :placeholder => 'Origen' %>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <%= f.text_field :address_destination,  :class => 'form-control', :placeholder => 'Destino' %>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        
                          <div class="row form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <%= f.text_field :reference,  :class => 'form-control', :placeholder => 'Referencia' %>
                            </div>
                            <div class="col-sm-1"></div>
                         </div>
                         
                        <div class="row form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <%= f.text_field :time_estimated,  :class => 'form-control', :placeholder => 'Estimado' %>
                            </div>
                            <div class="col-sm-5">
                                <%= f.text_field :payment_type,  :class => 'form-control', :placeholder => 'Pago' %>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <%= f.submit 'Pedir YA!', :class => 'btn btn-primary btn-lg btn-block' %>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        
                    </div>
                <% end %>
            </div>
            <div class="col-md-5">
                <iframe  width="400" height="240" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Universidad%20Peruana%20de%20Ciencias%20Aplicadas&key=AIzaSyAEz6ZPTS0y5N4hnuVx2nVqlK2tXsfftmQ" allowfullscreen></iframe>                    
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Estado</th>
                            <th>Estimado</th>
                            <th>Chofer</th>
                            <th>Pago</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Importe</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @orders.each(:as => :hash) do |row, index| %>
                        <tr>
                            <td><%= row["address_origin"] %></td>
                            <td><%= row["address_destination"] %></td>
                            <td><%= row["state"] %></td>
                            <td><%= row["time_estimated"] %> min aprox.</td>
                            <td><%= row["first_name"] %></td>
                            <td><%= row["payment_type"] %></td>
                            <td><%= row["start_time"] %></td>
                            <td><%= row["end_time"] %></td>
                            <td><%= row["amount"] %></td>
                            <td>
                                <a class="btn btn-success" onclick="editOrderCli(this)" 
                                                            data-addressorigin="<%= row["address_origin"] %>"
                                                            data-addressdestination="<%= row["address_destination"] %>"
                                                            data-reference="<%= row["reference"] %>"
                                                            data-paymenttype="<%= row["payment_type"] %>"
                                                            data-timeestimated="<%= row["time_estimated"] %>"
                                                            data-idorder="<%= row["orderid"] %>"
                                                            data-toggle="modal" 
                                                            data-target="#modalordereditcli" title="Modificar orden"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-danger" onclick="delOrderCli(this)" 
                                                            data-idorder="<%= row["orderid"] %>"
                                                            data-toggle="modal" 
                                                            data-target="#modalorderdelcli" title="Anular orden"><i class="fa fa-close"></i></a>
                            </td>
                        </tr>    
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
function editOrderCli(obj){

    $(".address_origin").val($(obj).attr('data-addressorigin'));
    $(".address_destination").val($(obj).attr('data-addressdestination'));
    $(".payment_type").val($(obj).attr('data-paymenttype'));
    $(".time_estimated").val($(obj).attr('data-timeestimated'));
    $(".reference").val($(obj).attr('data-reference'));
    $(".idorder").val($(obj).attr('data-idorder'));
    
}

function delOrderCli(obj){
    $(".idorder").text($(obj).attr('data-idorder'));
    $(".idorder").val($(obj).attr('data-idorder'));
}
</script>