<h1>Show Order</h1><h1>Nueva Orden </h1>
<%= form_for @order, url: order_update_path(@order) do |f| %>
<table>
    <tbody>
        <tr>
            <td>De : <%= @order.address_origin %> </td>
        </tr>
        <tr>
            <td>Hacia : <%= @order.address_destination %> </td>
        </tr>
        <tr>
            <td>Referencia : <%= @order.reference %> </td>
        </tr>
        <tr>
            <td>Dentro de : <%= @order.time_estimated %> </td>
        </tr>
        <tr>
            <td>Estado : <%= @order.state %> </td>
        </tr>
        <tr>
            <td>
                <%= f.hidden_field :id, :value => @order.id %>
                <%= f.submit 'Confirmar Orden', :class => 'btn btn-primary btn-lg btn-block' %>
            </td>
        </tr>
    </tbody>
</table>
<% end %>